@import '../../assets/styles/abstract/index';

.notfound {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 200px 10% 0;

  &__message {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
  }

  &__image {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    @include mob-land {
      width: 250px;
      height: 250px;
    }
  }

  &__button {
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    background: #4198ff;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;
    &:hover {
      background: transparentize($color: #4198ff, $amount: 0.2);
      transform: scale(1.1);
    }
  }
}
