.empty-cart {
  &::before {
    position: absolute;
    background: #fff;
    content: 'Your cart is currently empty! ';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
  }
}

.blue-bg {
  background: rgb(243, 248, 255);
}

.grey-bg {
  background: #f2f2f2;
}

.full-width {
  width: 100%;
}

.hide {
  display: none;
}
