.cart__header {
  text-align: center;
  letter-spacing: 2px;
}

.blue-bg {
  background: rgb(243, 248, 255);
}

.grey-bg {
  background: #f2f2f2;
}

.full-width {
  width: 100%;
}

.hide {
  display: none;
}

.float-right {
  float: right;
}
